#ignore data folder
data/

#ignore Matlab files
*.asv

#ignore jupyter notebook files
.ipynb_checkpoints/
__pycache__/

# ignore ide
.idea
.vscode/*

# ignore temp files from plotly
*.html

# local TensorBoard dir
Graph/

# local saved models
saved_models/

# virtual environments
env/
